<link rel="stylesheet" href="/stylesheets/products.css"/>
<div id="product">
	<div id="title" class="name"><%= product.data.name %>: <%= product.data.price %>원</div>
	<div id="id" style="display: none;"><%= product.id %></div>
	<div><img src="<%= product.data.url %>"/></div>
	<div class="email"><%= product.data.email %></div>
	<div class="data">등록일: <%= product.data.date %></div>
	<div class="content"><%= product.data.content %></div>
	<div>
		<button id="btn_chat" class="btn btn-danger mt-3">채팅으로 거래하기</button>
		<% if(email == product.data.email) { %>
			<button id="btn_update" class="btn btn-primary mt-3">상품정보수정</button>
		<% } %>
	</div>
</div>
<script>
	var email = $("#email").html();
	var id = $("#id").html();
	var title = $("#title").html();

	// 채팅으로 거래하기 버튼 클릭
	$("#btn_chat").on("click", () => {
		if(email == "" || email == null) {
			location.href = '/users/login';
		} else {
			location.href = '/products/chat?id=' + id + '&title=' + title;
		}
	});

	// 상품수정 버튼 클릭
	$("#btn_update").on("click", () => {
		location.href = '/products/update?id=' + id;
	});
</script>